<h2 mat-dialog-title>New Post</h2>
<form [formGroup]="postForm" (ngSubmit)="submitForm()">
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Body</mat-label>
    <textarea matInput formControlName="body"></textarea>
  </mat-form-field>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="null">Cancel</button>
    <button mat-button type="submit" [disabled]="postForm.invalid">Create</button>
  </div>
</form>
